<nav class="navbar navbar-expand-lg navbar-light bg-light border py-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-between">
            <li class="nav-item model-log d-flex align-items-center border-end justify-content-center">
                <i class="fa fa-user"></i><a class="nav-link" href="details">Registar or Login</a>
            </li>
            <li class="nav-item d-flex align-items-center border-end justify-content-start">
                <i class="fa fa-star"></i><a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item d-flex align-items-center border-end">
                <i class="fa fa-truck"></i> <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item d-flex align-items-center border-end">
                <img src="https://img.icons8.com/ios-filled/50/000000/user-shield.png" /><a href="categories" class="nav-link">All Categories</a>
            </li>
            <li class="nav-item d-flex align-items-center border-end">
                <i class="fa fa-info-circle"></i><a href="#" class="nav-link">Help</a>
            </li>
            <li class="nav-item d-flex align-items-center border-end">
                <img src="https://img.icons8.com/external-glyph-geotatah/64/000000/external-intellectual-new-product-development-npd-glyph-glyph-geotatah.png" /><a href="#" class="nav-link">Privacy Policy</a>
            </li>
            <li class="nav-item d-flex align-items-center border-end">
                <h2>English</h2>
                <img src="https://img.icons8.com/ios-filled/50/000000/language.png" />
            </li>
        </ul>
    </div>
</nav>