body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
  text-decoration: none;
}
.navbar img {
  width: 17px;
  height: 16px;
}

.home .card{
  height: 450px;
  max-height: 500px;
}

.card .card-header img{
  height: 240px;
}


.details .row .col-md-3 img{
  height: 300px;
  width: 100%;
}

.all-images .card{
  height: 200px;
}
.all-images .card img{
  height: 170px;
}