body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
  text-decoration: none;
}
.navbar img {
  width: 17px;
  height: 16px;
}

.card{
  height: 450px;
  max-height: 500px;
}

.card .card-header img{
  height: 240px;
}